
<div class="row">
  
   <div class = "col-md-6 col-xs-12">
    
      <h4 class="my_font">Available to Eat Burgers!</h4>
      <div id="ready_to_eat">

        
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="row">
              <div class="col-xs-6">
              <div class="form-control">{{id}}. {{burger_name}}</div>
              </div>
              <div class="col-xs-6">
                <span class="input-group-btn"></span>
                  <button class="btn btn-primary devour-button" type="submit">Devour It!</button>
                  </div>
                  </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>
    

    
    <div class = "col-md-6 col-xs-12">
      <h4 class="my_font">Already eaten Burgers!</h4>
      <div id="already_eaten">

       
        {{#each burgers}}
          {{#if this.devoured}}
            
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
              
          {{/if}}
        {{/each}}

      </div>
    </div>
    </div>
  
</div>